In [3]:
import numpy as np
import pandas as pd

In [4]:
dict1 = {
    "name":['harry','rohan','skillf','shubh'],
    "marks":[92,34,24,17],
    "city":['rampur','kolkata','bareilly','antartica']
}

In [5]:
df = pd.DataFrame(dict1)

In [7]:
df      # it will print the dataframe

     name  marks       city
0   harry     92     rampur
1   rohan     34    kolkata
2  skillf     24   bareilly
3   shubh     17  antartica

In [8]:
df.to_csv('file.csv')       # it will create a csv file
df.to_csv('file.csv' , index=False)     # it will create a csv file without index

In [9]:
df.head()    # it will print the first 5 rows
df.tail()    # it will print the last 5 rows
df.describe()       # it will print the statistical data

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [16]:
csv_file = pd.read_csv('file.csv')      # it will read the csv file

   Unnamed: 0    name  marks       city
0           0   harry     92     rampur
1           1   rohan     34    kolkata
2           2  skillf     24   bareilly
3           3   shubh     17  antartica

### Changes can be made using simple python code using list slicing eg [0]
### not a good practice

In [19]:
csv_file.index = ['a','b','c','d']
csv_file    # to change the index or values

   Unnamed: 0    name  marks       city
a           0   harry     30     rampur
b           1   rohan     34    kolkata
c           2  skillf     24   bareilly
d           3   shubh     17  antartica

In [24]:
ser = pd.Series(np.random.rand(34))     # it will create a series of 34 random numbers

In [26]:
ser

0     0.590204
1     0.884071
2     0.760960
3     0.742187
4     0.000026
5     0.654078
6     0.078861
7     0.405888
8     0.789140
9     0.473972
10    0.246954
11    0.413513
12    0.223058
13    0.817046
14    0.141375
15    0.168598
16    0.309941
17    0.775723
18    0.171712
19    0.557977
20    0.952631
21    0.128769
22    0.366534
23    0.837735
24    0.528163
25    0.459277
26    0.775792
27    0.652714
28    0.627306
29    0.189258
30    0.081787
31    0.702661
32    0.727359
33    0.824210
dtype: float64

In [28]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))    # it will create a dataframe of 334 rows and 5 columns with random numbers
newdf

            0         1         2         3         4
0    0.566420  0.109116  0.553146  0.719290  0.073574
1    0.499391  0.324261  0.826938  0.069888  0.313209
2    0.206317  0.917575  0.852326  0.742967  0.807267
3    0.956460  0.275634  0.817539  0.247541  0.768511
4    0.411373  0.867544  0.563451  0.347785  0.132129
..        ...       ...       ...       ...       ...
329  0.762124  0.560311  0.787922  0.573091  0.213955
330  0.959496  0.212642  0.757585  0.336797  0.114100
331  0.820799  0.345594  0.048503  0.160504  0.086007
332  0.182218  0.497734  0.441668  0.982746  0.702265
333  0.806343  0.285854  0.363006  0.674318  0.214490

[334 rows x 5 columns]

In [29]:
newdf.dtypes    # it will print the data types of the dataframe

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [32]:
newdf.index   # for index list

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int32', length=334)

In [33]:
newdf.columns   # for columns list

RangeIndex(start=0, stop=5, step=1)

In [34]:
newdf.to_numpy()    # it will convert the dataframe to numpy array

array([[0.56642046, 0.10911614, 0.55314605, 0.7192895 , 0.07357352],
       [0.49939126, 0.32426105, 0.82693762, 0.06988824, 0.31320899],
       [0.20631674, 0.91757468, 0.85232559, 0.74296715, 0.80726732],
       ...,
       [0.82079895, 0.34559353, 0.04850272, 0.1605038 , 0.08600667],
       [0.18221803, 0.49773369, 0.44166766, 0.98274644, 0.70226465],
       [0.80634341, 0.28585408, 0.36300634, 0.67431757, 0.21449018]])

In [35]:
newdf.T    # it will transpose the dataframe

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.566420,0.499391,0.206317,0.956460,0.411373,0.604044,0.226270,0.131624,0.313464,0.106277,...,0.325380,0.182576,0.495879,0.083947,0.327242,0.762124,0.959496,0.820799,0.182218,0.806343
1,0.109116,0.324261,0.917575,0.275634,0.867544,0.904748,0.710945,0.081989,0.968339,0.176175,...,0.532747,0.402600,0.034169,0.887234,0.786269,0.560311,0.212642,0.345594,0.497734,0.285854
2,0.553146,0.826938,0.852326,0.817539,0.563451,0.461296,0.127676,0.548771,0.923181,0.231231,...,0.136458,0.418739,0.969159,0.677836,0.797566,0.787922,0.757585,0.048503,0.441668,0.363006
3,0.719290,0.069888,0.742967,0.247541,0.347785,0.734100,0.294190,0.975115,0.055634,0.570392,...,0.934471,0.817165,0.147816,0.146223,0.284616,0.573091,0.336797,0.160504,0.982746,0.674318
4,0.073574,0.313209,0.807267,0.768511,0.132129,0.415696,0.992731,0.780155,0.950675,0.144691,...,0.537486,0.491381,0.825202,0.486692,0.505358,0.213955,0.114100,0.086007,0.702265,0.214490

In [39]:
newdf.sort_index(axis=1, ascending=False)    # sorting based on y-axis

            4         3         2         1         0
0    0.073574  0.719290  0.553146  0.109116  0.566420
1    0.313209  0.069888  0.826938  0.324261  0.499391
2    0.807267  0.742967  0.852326  0.917575  0.206317
3    0.768511  0.247541  0.817539  0.275634  0.956460
4    0.132129  0.347785  0.563451  0.867544  0.411373
..        ...       ...       ...       ...       ...
329  0.213955  0.573091  0.787922  0.560311  0.762124
330  0.114100  0.336797  0.757585  0.212642  0.959496
331  0.086007  0.160504  0.048503  0.345594  0.820799
332  0.702265  0.982746  0.441668  0.497734  0.182218
333  0.214490  0.674318  0.363006  0.285854  0.806343

[334 rows x 5 columns]

### Copy and view 
#### View : it will change the original dataframe (changing parent will change the child)
#### Copy : it will not change the original dataframe (changing parent will not change the child)

In [ ]:
# newdf2 = newdf.copy()    # it will create a copy of the dataframe | it's a copy
# newdf2 = newdf    # it will create a view of the dataframe | its a view

## To overcome the problem of SettingWithCopyWarning (changing values error using normal python code / method )

In [40]:
newdf2 = newdf.copy()

In [42]:
newdf.columns = list("ABCDE")

In [45]:
newdf.loc[0,'A'] = 654      # it will change the value of 0th row and A column

In [46]:
newdf.head()

            A         B         C         D         E      0
0  654.000000  0.109116  0.553146  0.719290  0.073574  654.0
1    0.499391  0.324261  0.826938  0.069888  0.313209    NaN
2    0.206317  0.917575  0.852326  0.742967  0.807267    NaN
3    0.956460  0.275634  0.817539  0.247541  0.768511    NaN
4    0.411373  0.867544  0.563451  0.347785  0.132129    NaN

In [53]:
newdf = newdf.drop(0, axis=1) # it will drop the 0th row

              A         B         C         D         E
0    654.000000  0.109116  0.553146  0.719290  0.073574
1      0.499391  0.324261  0.826938  0.069888  0.313209
2      0.206317  0.917575  0.852326  0.742967  0.807267
3      0.956460  0.275634  0.817539  0.247541  0.768511
4      0.411373  0.867544  0.563451  0.347785  0.132129
..          ...       ...       ...       ...       ...
329    0.762124  0.560311  0.787922  0.573091  0.213955
330    0.959496  0.212642  0.757585  0.336797  0.114100
331    0.820799  0.345594  0.048503  0.160504  0.086007
332    0.182218  0.497734  0.441668  0.982746  0.702265
333    0.806343  0.285854  0.363006  0.674318  0.214490

[334 rows x 5 columns]

In [55]:
newdf.loc[[1,4], ['C', 'D']]
# newdf.loc[:, ['C', 'D']]     # for all rows
# newdf.loc[[1,4], :]     # for all columns

          C         D
1  0.826938  0.069888
4  0.563451  0.347785

In [56]:
newdf.loc[(newdf['A']<0.3) & (newdf['C']>0.1)]    # conditional statements

            A         B         C         D         E
2    0.206317  0.917575  0.852326  0.742967  0.807267
6    0.226270  0.710945  0.127676  0.294190  0.992731
7    0.131624  0.081989  0.548771  0.975115  0.780155
9    0.106277  0.176175  0.231231  0.570392  0.144691
12   0.257807  0.792833  0.763763  0.927087  0.268668
..        ...       ...       ...       ...       ...
321  0.048045  0.955125  0.755305  0.860068  0.703129
322  0.232891  0.788853  0.674189  0.260410  0.372012
325  0.182576  0.402600  0.418739  0.817165  0.491381
327  0.083947  0.887234  0.677836  0.146223  0.486692
332  0.182218  0.497734  0.441668  0.982746  0.702265

[99 rows x 5 columns]

In [62]:
newdf.iloc[[1,3], [2.4]]     # it will print the values of 1st and 3rd row and 2nd and 4th column

          C
1  0.826938
3  0.817539

difference between loc and iloc
* loc : it will take the names of the rows and columns
* iloc : it will take the index of the rows and columns

In [63]:
newdf.drop([1,5], axis=0, inplace=True)    # it effect the original dataframe

In [64]:
newdf.reset_index(drop=True, inplace=True)    # it will reset the index

In [65]:
newdf['A'].isnull()    # it will check the null values in the column

0      False
1      False
2      False
3      False
4      False
       ...
327    False
328    False
329    False
330    False
331    False
Name: A, Length: 332, dtype: bool

In [66]:
newdf['A'].notnull()    # it will check the non-null values in the column

0      True
1      True
2      True
3      True
4      True
       ...
327    True
328    True
329    True
330    True
331    True
Name: A, Length: 332, dtype: bool

In [67]:
newdf.dropna()    # it will drop the null values

              A         B         C         D           E
0    654.000000  0.109116  0.553146  0.719290  654.000000
1      0.206317  0.917575  0.852326  0.742967    0.807267
2      0.956460  0.275634  0.817539  0.247541    0.768511
3      0.411373  0.867544  0.563451  0.347785    0.132129
4      0.226270  0.710945  0.127676  0.294190    0.992731
..          ...       ...       ...       ...         ...
327    0.762124  0.560311  0.787922  0.573091    0.213955
328    0.959496  0.212642  0.757585  0.336797    0.114100
329    0.820799  0.345594  0.048503  0.160504    0.086007
330    0.182218  0.497734  0.441668  0.982746    0.702265
331    0.806343  0.285854  0.363006  0.674318    0.214490

[332 rows x 5 columns]

In [68]:
newdf.drop_duplicates()    # it will drop the duplicate values

              A         B         C         D           E
0    654.000000  0.109116  0.553146  0.719290  654.000000
1      0.206317  0.917575  0.852326  0.742967    0.807267
2      0.956460  0.275634  0.817539  0.247541    0.768511
3      0.411373  0.867544  0.563451  0.347785    0.132129
4      0.226270  0.710945  0.127676  0.294190    0.992731
..          ...       ...       ...       ...         ...
327    0.762124  0.560311  0.787922  0.573091    0.213955
328    0.959496  0.212642  0.757585  0.336797    0.114100
329    0.820799  0.345594  0.048503  0.160504    0.086007
330    0.182218  0.497734  0.441668  0.982746    0.702265
331    0.806343  0.285854  0.363006  0.674318    0.214490

[332 rows x 5 columns]

In [69]:
newdf['A'].value_counts()    # it will count the values of the column

A
654.000000    1
0.169444      1
0.746985      1
0.198886      1
0.925447      1
             ..
0.696780      1
0.511195      1
0.238982      1
0.166981      1
0.806343      1
Name: count, Length: 332, dtype: int64

In [71]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       332 non-null    float64
 1   B       332 non-null    float64
 2   C       332 non-null    float64
 3   D       332 non-null    float64
 4   E       332 non-null    float64
dtypes: float64(5)
memory usage: 13.1 KB

In [ ]:
#imp for statical analysis 
df.describe()
df.mean()
df.corr() # correlation
df.count()
df.min()
df.max()
df.median()
df.std()

In [72]:
# feel free to explore more